---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Beyond Gallery</title>
  </head>
  <body class="bg-green-200 min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold mb-4 text-black">Beyond Room</h1>
    <p class="text-lg text-gray-700">A gateway to the world beyond Essex.</p>
  </body>
</html>
