---
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Choice 1</title>
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Choice 3 Room</h1>
    <p class="mt-4 text-lg">This will become another immersive environment.</p>
  </body>
</html>
